@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');
p , h1 , h2 , span , textarea , input  , a , button , div{
	font-family: 'Poppins', sans-serif;
}
.wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0 auto;
	text-align: center;
	position: relative;
	width: 100%;
	max-width: 1120px;
}
.grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[3];
	grid-template-columns: repeat(3, 1fr);
}
header {
	background-color: #000;
	width: 100%;
	height: 100%;
}
header .wrapper {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 100%;
}
.major {
	position: absolute;
	margin: 15px;
	opacity: 0;
	-webkit-animation: major 1s;
	        animation: major 1s;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	-webkit-animation-timing-function: cubic-bezier(1, 0.05, 1, 1);
	        animation-timing-function: cubic-bezier(1, 0.05, 1, 1);
}
.major .h1 {
	font-family: 'Righteous', cursive;
	font-size: 108px;
	color: #fff;
	letter-spacing: 15px;
}
.major .p {
	position: relative;
	font-family: 'Righteous', cursive;
	color: #fff;
	letter-spacing: 4px;
	font-size: 20px;
}
.arrow-pos {
	position: absolute;
	bottom: 35px;
	padding: 12px;
	-webkit-animation: arrow 0.65s infinite;
	        animation: arrow 0.65s infinite;
	-webkit-animation-direction:alternate;
	        animation-direction:alternate;
	cursor: pointer;
}
.arrow {
	position: relative;
	width: 25px;
	height: 25px;
	opacity: 0;
	-webkit-transition: 1s all ease;
	transition: 1s all ease;
	-webkit-animation: major 1s;
	        animation: major 1s;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	-webkit-animation-timing-function: cubic-bezier(1, 0.05, 1, 1);
	        animation-timing-function: cubic-bezier(1, 0.05, 1, 1);
}
.arrow.active {
	opacity: 1;
}
.branch-one,
.branch-two {
	bottom: 0;
	position: absolute;
	width: 100%;
	height: 4px;
	background-color: #fff;
}
.branch-one {
	left: -30%;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.branch-two {
	right: -30%;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.myjob h1 {
	font-size: 60px;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin: 75px 0;
	font-weight: 600;
	opacity: 1;
	font-family: 'Righteous', cursive;
}
.myjob.active h1 {
	opacity: 1;
	-webkit-transform: translateX(0);
	        transform: translateX(0);
}
.conteiner {
	background-color: #fff;
	margin: 15px 10px;
	padding: 10px;
	border: 1px solid #8888;
	border-radius: 7px;
}
.conteiner.hover {
	opacity: 0.7;
	-webkit-transition: 0.2s all ease;
	transition: 0.2s all ease;
}
.conteiner.hover:hover {
	opacity: 1;
}
.one , 
.two ,
.three , 
.fore {
	opacity: 0.8;
	-webkit-transition: 0.3s all ease;
	transition: 0.3s all ease;
}
.one:hover {
	opacity: 1;
}
.name-project p{
	font-family: 'Righteous', cursive;
	margin: 10px 0;
	font-size: 32px;
}
.img-project img {
	margin: 10px 0;
	width: 250px;
}
.transition-project {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 5px auto;
	max-width: 250px;
	line-height: 20px;
}
.buttun-project {
	margin: 20px 0 10px;
}
.buttun-project a{
	font-family: 'Righteous', cursive;
	border: 1px solid #000;
	padding: 7px 50px;
	border-radius: 7px;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	color: #000;
	-webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
}
.buttun-project a:hover {
	background-color: #111;
	color: #fff;
	border: 0;
}
@media (max-width: 900px){
	.grid {
	-ms-grid-columns: (1fr)[2];
	grid-template-columns: repeat(2, 1fr);
}
}
@media (max-width: 610px){
	.grid {
	-ms-grid-columns: (1fr)[1];
	grid-template-columns: repeat(1, 1fr);
}
}
.title-order h2{
	font-family: 'Righteous', cursive;
	font-size: 40px;
	font-weight: 600;
	margin: 10px 15px 30px;
	text-transform: uppercase;
	font-weight: 600;
}
.btn-confirm button{
	font-size: 20px;
	
	font-weight: 600;
	padding: 2px 70px;
	border-radius: 13px;
	border: 1px solid #666;
	background-color: #fff;
	cursor: pointer;
	margin: 10px 0 5px;
	-webkit-transition: 0.2s all ease;
	transition: 0.2s all ease;
	}
.btn-confirm button:hover {
	color: #fff;
	background-color:#000;
	border: 1px solid #000;
}
.btn-style {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 20px 15px 4px;
	position: relative;
	-webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
}
.btn-style input , 
.btn-style textarea {
	font-size: 16px;
	border-radius: 10px;
	padding: 7px;
	width: 100%;
	max-width: 700px;
}
.btn-style textarea { 
	height: 190px;
	resize: none;
	width: 100%;
	max-width: 700px;
}
.btn-name,
.btn-email ,
.type-order
 {
	border-radius: 10px;
	border: 1px solid #222222;
}
.btn-name.error ,
.btn-email.error ,
.type-order.error
 {
	border: 1px solid red;
}
.wrapper.bg {
	max-width: 100%;
	padding-top: 75px;
	margin-top: 75px;
	padding-bottom: 75px;
	background-color: #000;
}
.wrapper.bg .conteiner{
	width: 100%;
	max-width: 750px;
}
.footer-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	max-width: 1120px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 15px 10px 15px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.soc-sourse a {
	-webkit-transition: 0.3s all;
	transition: 0.3s all ;
	transform: scale(1 , 1) translateY(0);
}
.soc-sourse a:hover {
	transform: scale(0.95, 0.95) translateY(-5px);
}
.soc-sourse {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: none;
	    flex-wrap: none;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.soc-sourse img {
	background-color: #000;
	border-radius: 50%;
	padding: 4px;
	width: 48px;
	margin: 5px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all ;
}
.soc-sourse img:hover {
	background-color: rgba(0,0,0,0.92);
}
.rules {
	font-size: 16px;
}
#errorMessageName , 
#errorMessageEmail , 
#errorMessageText {
	font-size: 12px;
	color: red;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 16px;
	height: 12px;
}
.feature-css {
 display: none;
}
.feature-css.active {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-400% , -50%);
	        transform: translate(-400% , -50%);
	-webkit-animation: feature 3s;
	        animation: feature 3s;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
	-webkit-animation-direction: normal;
	        animation-direction: normal;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
}
@media (max-width: 767px) {
	.soc-sourse{
		margin: 0 auto;
	}
		.rules {
		margin: 10px auto;
	}
}
@media (max-width: 480px) {
	.major h1 {
		font-size: 85px;
	}
	.major p {
		font-style: 14px;
	}
	.myjob h1 , 
	.title-order h2 {
		margin: 30px 0;
		font-size: 35px;
	}
	main {
 }
	.conteiner.hover {
		opacity: 1;
	}
	.one.active, .two.active, .three.active, .fore.active {
    		opacity: 1;
	}
	.soc-sourse{
		margin: 0 auto;
	}
}
